#beatiful
    background-color: #f4fafb
    .box
        padding-right: 75px
        h1
            font-size: 40px
            font-weight: 700
        span
            color: #37b7c3
        h5
            font-size: 16px
            color: #676f8b
            line-height: 1.3
            margin: 25px 0 35px 
        .btn
            color: #ffff
            background-color: #38b6c1
            padding: 10px 20px
            border-radius: 5px
            h2
                font-size: 16px
        .imgbox
            width: 85px
            margin: 20px 0 10px
        h4
            font-size: 16px
    @media screen and ( max-width: 768px )
        .box
            padding-right: 0
            h1
                font-size: 30px
            h5
                margin: 15px 0 20px  


