#browse
    .textbox
        text-align: center
        h1
            font-weight: 700
            font-size: 60px
            color: #3cc1d8
        h4
            line-height: 1.2
            font-size: 20px
            color: #24304485
            margin: 20px 0
            span
                color: #14c7cd
                text-decoration: underline
    .btn
        font-size: 18px
        padding: 15px 80px
        margin: 0 20px
        border: 0.5px solid #bdbdbd
        border-radius: 5px
    .bgc
        color: #ffff
        background-color: #14c7cd
    .box
        padding: 30px
        margin-bottom: 10px
        .imgbox
            border-radius: 10px
        .textbox
            text-align: start
            width: auto
            margin-left: 20px
            h2
                font-size: 22px
                font-weight: 700
                margin: 10px 0
            h5
                font-size: 18px
                color: #3cc1d8
            p
                font-size: 18px
                color: #232f4285
                margin: 15px 0
                line-height: 1.2
            .add
                display: flex
                input
                    border: 1px solid #e1e1e1
                    background-color: #e9e9e9
                    width: 50px
                .btn
                    background-color: #14c7cd
                    color: #ffff
                    padding: 7px 20px
    .big
        padding: 17px 53px
        margin-top: 50px
    @media screen and ( min-width: 768px )
        .box
            display: flex
            align-items: center
            .imgbox
                width: 150px
            .minibox
                display: flex
                justify-content: space-between
                h2
                    margin: 0
