header
    padding: 20px 0
    .imgbox
        width: 35px
    .btn
        background-color: #b9b1b1
        display: none
        border: 2px solid #b9b1b1
        border-radius: 5px
        padding: 5px 10px
        color: #040404
        opacity: 0.6
    nav
        a
            font-size: 20px
            color: #8c8999
            margin-right: 30px
        .home-color
            color: #74bebc
    @media screen and ( max-width: 992px )
        .menu
            padding: 0 20px
            .btn
                display: flex
            nav
                display: none
    